.observe {
    opacity: 0;
    filter: blur(3px);
    transform: translateX(-100%);
    transition: all 1.2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    background: inherit;
    transform: translateX(0);
}
.project_box:nth-child(2) {
    transition-delay: .3s;
}
.project_box:nth-child(3) {
    transition-delay: .7s;
}

@media(prefers-reduced-motion) {
    .observe {
        transition: none;
    }
}

/*** text transform animation ***/

.role::before { 
    content: "Frontend Developer"; 
    animation: animate infinite 10s; 
    margin: 1rem 0;
} 

@keyframes animate { 

    0% { 
        content: "Frontend Developer"; 
    } 

    45% { 
        content: "Backend Developer"; 
    } 

    75% { 
        content: "Fullstack Developer"; 
    } 
}

.intro {
    margin-top: 4rem;
}

.cursor {
    font-weight: bold;
    font-size: 3rem;
    color: #76ff77;
    animation: blink 0.7s infinite;
  }

@keyframes blink {
    50% {
        opacity: 0;
    }
}